body{
    background-image: url("../images/hospital2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.titulo{
    text-align: center;
    margin: 20px auto;
    font-size: 4rem;
    color: black;
    font-weight: 400;
}

.btn button{
    height: 100px;
    width: 250px;
    margin: 50px;
    text-decoration: none;
    background-color: #0B2B5C;
    border: 1px solid #0B2B5C;
    color: white;
    border-radius: 5px;
    padding: 20px;
}

